@charset 'UTF-8';
@import 'base';

//////////
// COLORS
//////////
$dark: #0f060b;
$main: #304d5f;
$accent: #7c2923;

$dark-text: mix(black, $dark, 25%);

.screen-reader-text {
  @include hide;
}

header {
  background: url('../img/palestine_flag_original.jpg') no-repeat center 75% scroll;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  border-top: .2em solid $dark;
  border-bottom: .2em solid $dark;

  min-height: 300px;
  text-align: left;

  > * {
    padding: 2% 5%;
  }
}

#headline {
  &,
  a {
    background-color: rgba($main, .5);
    color: white;
    text-decoration: none;
  }

  line-height: 100%;
  margin-bottom: 1em;
}

#subheadline {
  background-color: rgba(white, .5);
  color: $accent;

  a {
    color: $dark;
  }
}

main {
  color: $dark-text;

  h3,
  h4,
  h5,
  h6 {
    background-color: $accent;
    color: white;

    padding-bottom: 5px;
    padding-top: 5px;
  }

  section > blockquote,
  section > p,
  section > ul,
  section > h2,
  section > h3,
  section > h4,
  section > h5,
  section > h6 {
    padding-left: 20%;
    padding-right: 20%;
  }
}

ul {
  list-style-position: inside;
}

table {
  border-bottom: .5em solid mix(white, $accent, 80%);

  margin: 2em 0 0 0;
  padding-left: 1%;
  padding-right: 1%;

  width: 100%;
}

td,
th {
  padding: 1%;
  text-align: center;
}

td:nth-of-type(odd) {
  background-color: mix(white, $accent, 80%);
}

tfoot {
  border-top: 4px solid mix(white, $accent, 80%);
  td {
    text-align: left;
  }
}

footer {
  background-color: $dark;
  border-bottom: .2em solid $main;
  border-top: .2em solid $main;
  color: $main;

  font-size: 14pt;

  padding-right: 5%;
  text-align: right;

  a {
    color: mix(white, $main, 50%);
  }
}

//////////////////////// media queries ..................///////////////
//////////////////////// media queries ..................///////////////
//////////////////////// media queries ..................///////////////
@media screen and (max-width: $break1) {
}

@media screen and (max-width: $break2) {
  #headline,
  #subheadline {
    margin: 0;
  }

  header {
    background-size: auto;
    min-height: 0;

    > * {
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  main {
    blockquote,
    p,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}

@media screen and (max-width: $break3) {
  main {
    blockquote,
    p,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-left: 1%;
      padding-right: 1%;
    }
  }

  table {
    margin-left: 0;
    margin-right: 0;
  }

  td + td,
  th + th {
    padding-left: 5px;
  }
}
